<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    @include('obat.form')

    <table>
        <thead>
            <tr>
                <th>kode</th>
                <th>nama</th>
                <th>bentuk</th>
                <th>tgl produksi</th>
                <th>tgl kadaluarsa</th>
                <th>harga</th>
                <th>edit detail</th>
            </tr>
        </thead>
        <tbody>
            @each(obat in semuaObat)
            <tr>
                <td class="kd_obat-val">{{ obat.kd_obat }}</td>
                <td class="nm_obat-val">{{ obat.nm_obat }}</td>
                <td class="bentuk_obat-val">{{ obat.bentuk_obat }}</td>
                <td class="tgl_prod-val" 
                data-original="{{ new Date(obat.tgl_prod).toISOString().slice(0, 10) }}">
                    {{ new Intl.DateTimeFormat('en-GB', {dateStyle: 'long'}).format(obat.tgl_prod) }}
                </td>
                <td class="tgl_exp-val" 
                data-original="{{ new Date(obat.tgl_exp).toISOString().slice(0, 10) }}">
                    {{ new Intl.DateTimeFormat('en-GB', {dateStyle: 'long'}).format(obat.tgl_exp) }}
                </td>
                <td class="harga-val">{{ obat.harga }}</td>
                <td class="jumlah_persediaan-val">{{ obat.jumlah_persediaan }}</td>
                <td>
                    <a href="javascript:void(0);" class="edit-obat-btn">edit</a>
                </td>
            @else
                <td colspan="7">no data</td>
            </tr>
            @endeach
        </tbody>
    </table>

    <script>
        const editBtn = document.querySelectorAll('.edit-obat-btn')
        const allInput = [
            '[name="kd_obat"]',
            '[name="nm_obat"]', 
            '[name="bentuk_obat"]', 
            '[name="tgl_prod"]',
            '[name="tgl_exp"]',
            '[name="harga"]',
            '[name="jumlah_persediaan"]',
        ]

        function getVal(el, col) {
            return el.querySelector(col).textContent.trim()
        }

        let submitObatBtnText;
        editBtn.forEach(btn => {
            let kdObat, nmObat, bentukObat, tglProd, tglExp, harga, jmlhPersediaan
            let obatItem = btn.parentElement.parentElement

            let allValue = []

            submitObatBtnText = document.querySelector('button[type="submit"]').textContent

            btn.addEventListener('click', function () {

                kdObat = getVal(obatItem, '.kd_obat-val')
                nmObat = getVal(obatItem, '.nm_obat-val')
                bentukObat = getVal(obatItem, '.bentuk_obat-val')
                tglProd = obatItem.querySelector('.tgl_prod-val').dataset.original
                tglExp = obatItem.querySelector('.tgl_exp-val').dataset.original
                harga = getVal(obatItem, '.harga-val')
                jmlhPersediaan = 


                allValue.push(kdObat,nmObat,bentukObat,tglProd,tglExp,harga)
                
                document.querySelectorAll(allInput).forEach((input, index) => {
                    input.value = allValue[index]
                })

                document.querySelector('#form-obat button').textContent = 'edit detail obat'
                console.log(allValue)

            })
        })

        const btnReset = document.querySelector('#form-obat button[type="reset"]')

        btnReset.addEventListener('click', function () {
            this.previousElementSibling.textContent = submitObatBtnText
        })
    </script>
</body>
</html>