<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="/persediaan/css/main.css" rel="stylesheet" />
        <title>Persediaan</title>
    </head>
    <body>
        <div class="v114_81">
            <div class="v114_114">
                <div class="v114_115"></div>
                <div class="v114_116"></div>
                <div class="v114_117">
                    <div class="v114_118"></div>
                    <span class="v114_119">Tambah Persediaan</span>
                </div>
                <div class="v114_120"></div>
                <div class="v114_131"></div>
                <div class="v114_132"></div>
                <div class="v114_133"></div>
                <div class="v114_134">
                    <div class="v114_135"></div>
                    <div class="v114_136"></div>
                </div>
            </div>
        </div>
    </body>
</html>