<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="/transaksi/css/main.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v114_137">
            <div class="v114_161">
                <div class="v114_162"></div>
                <div class="v114_163"></div>
                <div class="v114_164">
                    <span class="v114_165"> 100</span>
                    <span class="v114_166">100</span>
                    <span class="v114_167">100</span>
                    <span class="v114_168">jumlah</span>
                </div>
                <div class="v114_169">
                    <span class="v114_170"> 12-12-2020</span>
                    <span class="v114_171"> 12-12-2020</span>
                    <span class="v114_172">12-12-2020</span>
                    <span class="v114_173"> tgl Transaksi</span>
                </div>
                <div class="v114_174">
                    <span class="v114_175">xxxxx</span>
                    <span class="v114_176">xxxxx</span>
                    <span class="v114_177">xxxxx</span>
                    <span class="v114_178">kode</span>
                </div>
                <div class="v114_179">
                    <div class="v114_180"></div>
                    <span class="v114_181">Transaksi Bulanan</span>
                </div>
                <div class="v114_182">
                    <div class="v114_183"></div>
                    <span class="v114_184">Tambah tranksaksi</span>
                </div>
                <div class="v114_185"></div>
                <div class="v114_186"></div>
                <div class="v114_187"></div>
                <div class="v114_188">
                    <div class="v114_189"></div>
                    <div class="v114_190"></div>
                </div>
                <div class="v114_191"></div>
            </div>
        </div>
    </body>
</html>