/* Home */

position: relative;
width: 407px;
height: 240px;

background: #5347E9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;


/* Rectangle 1 */

position: absolute;
width: 352px;
height: 240px;
left: 65px;
top: 0px;

background: #FFFFFF;
border-radius: 13px;


/* Doctor 1 */

position: absolute;
width: 156px;
height: 106px;
left: 235px;
top: 30px;

background: url(Doctor.jpg);


/* Group 9 */

position: absolute;
width: 90px;
height: 90px;
left: 193px;
top: 141px;



/* Rectangle 10 */

position: absolute;
width: 90px;
height: 90px;
left: 193px;
top: 141px;

background: #EEEEEE;
border-radius: 11px;


/* Untuk melihat persediaan obat di Apotiking */

position: absolute;
width: 76px;
height: 22px;
left: 204px;
top: 209px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 5px;
line-height: 7px;

color: #C2B6B6;



/* 1027073 1 */

position: absolute;
width: 39px;
height: 39px;
left: 219.02px;
top: 153.68px;

background: url(1027073.png);


/* Persediaan */

position: absolute;
width: 45px;
height: 5px;
left: 221px;
top: 196px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 6px;
line-height: 9px;

color: #000000;



/* Group 8 */

position: absolute;
width: 90px;
height: 90px;
left: 85px;
top: 141px;



/* Rectangle 9 */

position: absolute;
width: 90px;
height: 90px;
left: 85px;
top: 141px;

background: #EEEEEE;
border-radius: 11px;


/* drug-icon-2316244_960_720 2 */

position: absolute;
width: 39px;
height: 39px;
left: 113px;
top: 154px;

background: url(drug-icon-2316244_960_720.png);


/* Untuk melihat obat - obat yang tersedia di Apotiking */

position: absolute;
width: 76px;
height: 22px;
left: 96px;
top: 209px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 5px;
line-height: 7px;

color: #C2B6B6;



/* Obat - obatan */

position: absolute;
width: 45px;
height: 5px;
left: 108px;
top: 196px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 6px;
line-height: 9px;

color: #000000;



/* Menu Cepat */

position: absolute;
width: 63px;
height: 15px;
left: 84px;
top: 119px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Group 10 */

position: absolute;
width: 90px;
height: 90px;
left: 301px;
top: 141px;



/* Rectangle 10 */

position: absolute;
width: 90px;
height: 90px;
left: 301px;
top: 141px;

background: #EEEEEE;
border-radius: 11px;


/* Untuk melihat transaksi yang dilakukan di Apotiking */

position: absolute;
width: 76px;
height: 22px;
left: 313px;
top: 209px;

font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 5px;
line-height: 7px;

color: #C2B6B6;



/* money-512 2 */

position: absolute;
width: 39px;
height: 39px;
left: 327px;
top: 154px;

background: url(money-512.png);


/* Transaksi */

position: absolute;
width: 37px;
height: 5px;
left: 332px;
top: 196px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 6px;
line-height: 9px;

color: #000000;



/* logo 1 */

position: absolute;
width: 111px;
height: 22px;
left: 205px;
top: 10px;

background: url(logo.png);


/* Selamat Datang di */

position: absolute;
width: 116px;
height: 18px;
left: 84px;
top: 15px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
/* identical to box height */

color: #000000;



/* APOTIKING adalah apotek yang dibuat oleh Papa Barik dkk. Apotek ini dibuat untuk memenuhi tugas akhir praktikum database lanjut. */

position: absolute;
width: 125px;
height: 32px;
left: 84px;
top: 40px;

font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 6px;
line-height: 8px;

color: #C2B6B6;



/* images 2 */

position: absolute;
width: 19px;
height: 18px;
left: 24px;
top: 55px;

background: url(images.png);
background-blend-mode: lighten;


/* membership-bg 2 */

position: absolute;
width: 19px;
height: 15px;
left: 24px;
top: 85px;

background: url(membership-bg.png);


/* images (1) 2 */

position: absolute;
width: 19px;
height: 18px;
left: 24px;
top: 116px;

background: url(images (1).png);
background-blend-mode: lighten;


/* Group 4 */

position: absolute;
width: 19px;
height: 22.4px;
left: 24px;
top: 21px;



/* download 2 */

position: absolute;
width: 19px;
height: 18.07px;
left: 24px;
top: 21px;

background: url(download.png);
background-blend-mode: lighten;


/* Rectangle 7 */

position: absolute;
width: 10.64px;
height: 1.45px;
left: 28.56px;
top: 41.96px;

background: #FFFFFF;


/* search */

position: absolute;
width: 142px;
height: 32px;
left: 84px;
top: 100px;



/* Rectangle 8 */

position: absolute;
width: 142px;
height: 15px;
left: 84px;
top: 100px;

background: #F2F2F2;
border-radius: 12px;


/* Cari berdasarkan nama atau kode obat... */

position: absolute;
width: 95px;
height: 27px;
left: 101px;
top: 105px;

font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 5px;
line-height: 7px;

color: #C2B6B6;



/* search--v2 1 */

position: absolute;
width: 10px;
height: 10px;
left: 88px;
top: 103px;

background: url(search--v2.png);
