body {
	background-color: #E5E5E5;
}

h2 {
    color:red;
    font-family: poppins;
}

h3 {
    color:black;
    font-family: poppins;
    position: relative;
        right: 200px;
        left: 430px;
        top: -1200px;
        width: 825px;
        font-size: 30px;
}

h4 {
    color:#C2B6B6;
    font-family: poppins;
    position: relative;
        right: 20px;
        left: 430px;
        top: -1200px;
        width: 350px;
    font-size: 14px;
    font-style: normal;
}

p {
	font-family: poppins;
}

.ketengah{
	margin: 10px auto;
	width: 1150px;
}

.kotak{
	background: #5347E9;
	padding: 20px;
	width: 1000px;
	float: left;
	margin: 20px;
	height: 550px;
}

.kotak1{
	border-radius: 35px 35px 35px 35px;
}

.kotak2{
    background: #ffffff;
    position: relative;
        right: 200px;
        left: 360px;
        top: -630px;
        width: 825px;
        border-radius: 35px 35px 35px 35px;
    font-family: poppins;
    font-weight: bold;
    font-size: 30px;
    text-indent: 30px;
}

