<!DOCTYPE html>
<html lang="en">
<head>
    @include('layouts.meta')
    @include('layouts.css')
    <title>@!section('title')</title>
</head>
<body>
    @!section('main')
    @include('layouts.script')
    @include('layouts.footer')
</body>