<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet" />
  <link href="./home/css/main.css" rel="stylesheet" />
  <title> AdonisJS Blog </title>
</head>
<body>

    <div class="v114_2">
        <div class="v114_49">
            <div class="v114_50"></div>
            <div class="v114_51"></div>
            <a href="C:\Users\kinki\Documents\aakuliah\git\apotiking\html_css\persediaan\index.html">
                <div class="v114_52">
                    <div class="v114_53"></div>
                    <span class="v114_54">Untuk melihat persediaan obat di Apotiking</span>
                    <div class="v114_55"></div>
                    <span class="v114_56">Persediaan</span>
                </div>
            </a>
            <a href="C:\Users\kinki\Documents\aakuliah\git\apotiking\html_css\manage_obat\index.html">
                <div class="v114_57">
                    <div class="v114_58"></div>
                    <div class="v114_59"></div>
                    <span class="v114_60">Untuk melihat obat - obat yang tersedia di Apotiking</span>
                    <span class="v114_61">Obat - obatan</span>
                </div>
            </a>
            <span class="v114_62">Menu Cepat</span>
            <a href="C:\Users\kinki\Documents\aakuliah\git\apotiking\html_css\transaksi\index.html">
                <div class="v114_63">
                    <div class="v114_64"></div>
                    <span class="v114_65">Untuk melihat transaksi yang dilakukan di Apotiking</span>
                    <div class="v114_66"></div>
                    <span class="v114_67">Transaksi</span>
                </div>
            </a>
            <div class="v114_68"></div>
            <span class="v114_69">Selamat Datang di</span>
            <span class="v114_70">APOTIKING adalah apotek yang dibuat oleh
                                    Papa Barik dkk. Apotek ini dibuat untuk
                                    memenuhi tugas akhir praktikum database
                                    lanjut.</span>
            <a href="C:\Users\kinki\Documents\aakuliah\git\apotiking\html_css\manage_obat\index.html">
                <div class="v114_71"></div>
            </a>
            <a href="C:\Users\kinki\Documents\aakuliah\git\apotiking\html_css\persediaan\index.html">
                <div class="v114_72"></div>
            </a>
            <a href="C:\Users\kinki\Documents\aakuliah\git\apotiking\html_css\transaksi\index.html">
                <div class="v114_73"></div>
            </a>
            <div class="v114_74">
                <a href="C:\Users\kinki\Documents\aakuliah\git\apotiking\html_css\home\index.html">
                    <div class="v114_75"></div>
                </a>
                <div class="v114_76"></div>
            </div>
            <div class="v114_77">
                <div class="v114_78"></div>
                <span class="v114_79">Cari berdasarkan nama atau kode obat...</span>
                <div class="v114_80"></div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  <section>
    <!-- ANY TEMPLATE CAN INJECT CONTENT HERE 👇 -->
    @section('main')
    @endsection
  </section>

</body>
</html>